<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>



<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>


<p th:text="'ID: ' + ${ticket.id}" />

<p th:text="'Requester: ' + ${ticket.requester}" />

<p th:text="'Location: ' + ${ticket.location}" />
<p th:text="'Subject: ' + ${ticket.subject}" />
<p th:text="'Description: ' + ${ticket.description}" />
<p th:text="'Resolution: ' + ${ticket.resolution}" />
<p th:text="'Priority: ' + ${ticket.priority.name}" />
<p th:text="'Status: ' + ${ticket.status.name}" />
<p th:text="'Method: ' + ${ticket.method.name}" />
<p th:text="'Category: ' + ${ticket.category.name}" />















</body>
</html>